[mariadb]
tls_version = TLSv1.2,TLSv1.3
ssl_cert    = /etc/my.cnf.d/certificates/server-cert.pem
ssl_key     = /etc/my.cnf.d/certificates/server-key.pem
ssl_ca      = /etc/my.cnf.d/certificates/ca.pem

[client]
ssl_cert    = /etc/my.cnf.d/certificates/server-cert.pem
ssl_key     = /etc/my.cnf.d/certificates/server-key.pem
ssl_ca      = /etc/my.cnf.d/certificates/ca.pem
